@font-face {
    font-family : "jakartaRegular";
    src         : url("/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family : "jakartaBold";
    src         : url("/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Bold.ttf");
    font-display: swap;
}

@font-face {
    font-family : "jakartaSemiBold";
    src         : url("/fonts/Plus_Jakarta_Sans/PlusJakartaSans-SemiBold.ttf");
    font-display: swap;
}

@font-face {
    font-family : "jakartaExtraBold";
    src         : url("/fonts/Plus_Jakarta_Sans/PlusJakartaSans-ExtraBold.ttf");
    font-display: swap;
}

@font-face {
    font-family : "jakartaItalic";
    src         : url("/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Italic.ttf");
    font-display: swap;
}